body{
    /* background-color: rgba(15, 15, 15, 0.979); */
    background-color: white ;
    font-family: Arial, Helvetica, sans-serif;
    color: #e6b7c1;
}
.selected_class{
    background-color: #1f006e ;
}
tr, td {
    height: 20px;
    color: #1f006e ;
}
table {
    border-collapse: collapse;
    margin: 25px;
    padding: 20px;
    background-color: #e6b7c1 ;
}
li:hover,.tdstyle:hover{
    background-color: #7cb2d1 ;
}
.tdstyle {
    width: 20px;
    border: 1px solid grey ;
}
#creation-container{
    margin: 5px;
    padding: 20px;
    max-width: 600px;
}
#export-container{
    border: 1px solid grey; 
    height: 4rem;
    background-color: #e6b7c1 ;
    color: rgb(70, 68, 68);
    max-width: 600px;
} 
h1,h2,h3 {
    background-color: rgb(223, 222, 222) ;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin: 5px;
    padding: 20px;
    color: rgb(94, 93, 93) ;

}
.tdheadCol {
    width: auto;
    height: 20px;
    border: 1px solid grey ;
    border-right: 2px solid rgb(66, 66, 66);
    background-color: #7cb2d1 ;
    text-align: right;

}
.tdheadRow {
    width: 20px;
    vertical-align:bottom;
    text-align: center;
    border: 1px solid grey ;
    border-bottom: 2px solid rgb(66, 66, 66);
    background-color: #7cb2d1 ;
}